<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="https://use.typekit.net/mqb2gnt.css">
    <link rel="stylesheet" href="https://use.typekit.net/ftn5tpm.css">
    <link rel="stylesheet" href="https://use.typekit.net/mnz4pxm.css"> <!-- link to adobe font -->
    <title>Magic Island</title>
</head>
<body>

    <div class="banner">
        <h1>MagicIsland</h1>
    </div>

    {{> menu}} <!-- the menu partial -->
    
    <main>
        {{{body}}}
    </main>

    {{> footer}} <!-- the footer partial -->

    <script src="/js/scripts.js"></script>
    <script src='https://unpkg.com/boxicons@latest/dist/boxicons.js'></script>
</body>
</html>


