<h1><span class="hashtag"># </span>Welcome Home</h1>
<p>Let's start exploring this Neverland</p>

<div class="home-content">
    <img src="/img/group1.png" alt="Group Image {{this.id}}" class="group1-image"/>
</div>