<h1><span class="hashtag"># </span>Profile</h1>
<p>Here you can change your account information or delete the account</p>


<div class="profile-container">

  <script>
    if (errorMessage) { alert(errorMessage); }
  </script>

  <!-- 更新信息表单 -->
  <form id="profileForm" action="/profile/update" method="POST">
    <label for="currentUsername">Username</label>
    <input
      type="text"
      id="currentUsername"
      name="currentUsername"
      value="{{user.username}}"
      readonly
      required
    /><br />
    <!-- 只读输入框 -->

    <label for="newUsername">New Username</label>
    <input
      type="text"
      id="newUsername"
      name="newUsername"
      placeholder="Optional"
    /><br />
    <!-- 新用户名输入框 -->

    <label for="password">New Password</label>
    <input
      type="password"
      id="password"
      name="password"
      placeholder="Optional"
    /><br />

    <button type="submit" id="button">Update Account</button>


    <!-- 删除账户按钮 -->
    <button 
      type="button" 
      id="deleteButton" 
      onclick="if(confirm('Are you sure to delete?')) { document.getElementById('deleteForm').submit(); }">
      Delete Account
    </button>
  </form>

  <!-- 隐藏删除账户表单 -->
  <form id="deleteForm" action="/profile/delete" method="POST"></form>

  </form>

</div>