<h1><span class="hashtag"># </span>Profile</h1>
<p>Here you can change your account information or delete the account</p>


<div class="profile-container">


  <form id="profileForm" action="/profile/update" method="POST">
    <label for="currentUsername">Username</label>
    <input
      type="text"
      id="currentUsername"
      name="currentUsername"
      value="{{user.username}}"
      readonly
      required
    /><br />


    <label for="newUsername">New Username</label>
    <input
      type="text"
      id="newUsername"
      name="newUsername"
      placeholder="Optional"
    /><br />

    <label for="password">New Password</label>
    <input
      type="password"
      id="password"
      name="password"
      placeholder="Optional"
    /><br />

    <button type="submit" id="button">Update Account</button>


    <!-- delete account button -->
    <button 
      type="button" 
      id="deleteButton" 
      onclick="if(confirm('Are you sure to delete?')) { document.getElementById('deleteForm').submit(); }">
      Delete Account
    </button>
  </form>

  <!-- hide the form -->
  <form id="deleteForm" action="/profile/delete" method="POST"></form>

  </form>

</div>


  <script>
    if (errorMessage) { alert(errorMessage); }
  </script>