<h1><span class="hashtag"># </span>Venue Details</h1>

<p><span class="venue-address-title">Address:</span> {{venue.address}}</p>
<p><span class="venue-capacity-title">Capacity:</span> {{venue.capacity}}</p>
<p><span class="venue-open-hours-title">Open Hours:</span> {{venue.open_hours}}</p>

<a href="/events" class="venue-back">Back to Events</a>