/* 
-------body---------
*/

body {
  margin-top: 50px;
  margin-bottom: 150px;
  font-family: chinchilla, sans-serif;
  text-align: center;
  background-color: #d1e5f6;

  /* code borrowed from a website - begin */
  /* source:(Steven Lei, 2021, "CSS Dynamic Background", https://codepen.io/stevenlei/pen/ZEJxXGL) */
  

  background-image: radial-gradient(
      closest-side,
      rgba(215, 228, 240, 1),
      rgba(215, 228, 240, 0)
    ),
    radial-gradient(
      closest-side,
      rgba(174, 202, 255, 1),
      rgba(174, 202, 255, 0)
    ),
    radial-gradient(
      closest-side,
      rgba(166, 183, 225, 1),
      rgba(166, 183, 225, 0)
    ),
    radial-gradient(closest-side, rgb(255, 255, 255, 1), rgba(255, 255, 255, 0)),
    radial-gradient(
      closest-side,
      rgba(182, 202, 228, 0.9),
      rgba(117, 161, 218, 0)
    );
  background-size: 130vmax 130vmax, 80vmax 80vmax, 90vmax 90vmax,
    110vmax 110vmax, 90vmax 90vmax;
  background-position: -80vmax -80vmax, 60vmax 60vmax, 10vmax 10vmax,
    -30vmax -30vmax, 50vmax 50vmax;
  background-repeat: no-repeat;
  animation: 7s movement linear infinite;
}

@keyframes movement {
  0%,
  100% {
    background-size: 130vmax 130vmax, 80vmax 80vmax, 90vmax 90vmax,
      110vmax 110vmax, 90vmax 90vmax;
    background-position: -80vmax -80vmax, 60vmax 60vmax, 10vmax 10vmax,
      -30vmax -30vmax, 50vmax 50vmax;
  }

  25% {
    background-size: 100vmax 100vmax, 90vmax 90vmax, 90vmax 90vmax,
      100vmax 100vmax, 60vmax 60vmax;
    background-position: -60vmax -60vmax, 50vmax -40vmax, 0vmax -20vmax,
      -40vmax -20vmax, 40vmax 60vmax;
  }

  50% {
    background-size: 80vmax 80vmax, 110vmax 110vmax, 80vmax 80vmax,
      60vmax 60vmax, 80vmax 80vmax;
    background-position: -50vmax -70vmax, 40vmax -30vmax, 10vmax 0vmax,
      20vmax 10vmax, 30vmax 70vmax;
  }
  75% {
    background-size: 90vmax 90vmax, 90vmax 90vmax, 100vmax 100vmax,
      90vmax 90vmax, 70vmax 70vmax;
    background-position: -50vmax -40vmax, 50vmax -30vmax, 20vmax 0vmax,
      -10vmax 10vmax, 40vmax 60vmax;
  }
}

/* code borrowed from a website - end */




/*
----------style for all pages----------
*/

h1 {
  color: #7ec3f2;
  font-size: 3.4em;
}

h2 {
  text-align: center;
  margin: 20px 0;
  color: white;
  letter-spacing: 1px;
}

p {
  color: #ffffff;
  font-size: 1.1em;
  font-family: "ivysoft-variable", sans-serif;
  font-variation-settings: "slnt" -6, "wght" 700;
  line-height: 1.3;
  letter-spacing: 1.3px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.hashtag {
  color: #ffffff;
}

/*
-------banner-------
*/

.banner h1 {
  width: 100%;
  font-size: 7em;
  font-family: "palomino-script", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: -10px;
  transform: scaleY(0.8);
  margin-top: 180px;
  margin-bottom: -10px;
  color: #ffffff;
}

/*
--------menu-----------
*/

.navbar {
  padding: 80px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-image {
  width: 130px;
  height: auto;
  margin-top: 20px;
}

.nav-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  margin-top: 20px;
}

.nav-item {
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
}

.nav-item a {
  text-decoration: none;
  font-size: 1.3em;
  display: flex;
  align-items: center;
}

.nav-item span {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.6s ease;
}

.nav-item:hover box-icon {
  opacity: 0;
}

.nav-item:hover span {
  opacity: 1;
}

.nav-item:hover a {
  color: #ffffff;
}

/*
----------home page---------
*/

.home-content {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.group1-image {
  width: 100%;
  height: auto;
  display: block;
  margin-top: 20px;
}

/*
-------about page------
*/



/* group section*/
.group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0px;
  padding: 10px;
}

.group2-image {
  width: 120%;
  height: 100%;
  margin-top: -30px;
}

.group-description {
  max-width: 750px;
  text-align: center;
}

.group-description:first-child {
  border-top: 1px solid #7ec3f2;
}

.group-description:last-child {
  border-bottom: none;
}

.group-description h2 {
  font-size: 2.2em;
  color: #ffffff;
  letter-spacing: -2px;
  margin-bottom: 15px;
}

.group-description h3 {
  font-size: 1.2em;
  color: #f4b2d7;
  margin-top: -10px;
  margin-bottom: 10px;
}

.group-description p {
  margin-top: 30px;
  color: #626262;
}


/* member section */

/* code borrowed from a website - begin */
/* source:(Chen, 2022, "Mouse hover direction sensing card", https://goatchen.coding.net/public/html-css/HTML-CSS/git/files) */
  
.shell {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  transform-style: preserve-3d;
  perspective: 900px;
}

.box {
  position: relative;
  width: 220px;
  height: 290px;
  margin: 50px;
  margin-top: 100px;
  margin-bottom: 90px;
  border-radius: 15px;
  overflow: visible;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s;
}

.box:hover {
  transform: rotateY(0deg) scale(1.15);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.box:hover ~ .box {
  transform: rotateY(-13deg);
}

/* code borrowed from a website - end */

.imgBx {
  position: absolute;
  max-width: 100%;
  top: 20px;
  left: 20%;
  transform: translateX(-80%);
  z-index: 2; /* make sure img is above other content */
  width: 120px;
  height: 120px;
}

.imgBx img {
  width: 300%;
  height: 270%;
  object-fit: contain;
  z-index: 2; /* make sure img is above other content */
  margin-top: -160px;
}

.member-name {
  position: relative;
  margin-top: 120px;
  z-index: 3;
}

.member-name h2 {
  font-family: chinchilla, sans-serif;
  font-size: 2.2em;
  color: #ffffff;
  background-color: #f4b2d7;
  border-radius: 5px;
  padding: 8px 90px;
  margin-left: -30px;
  margin-top: 10px;
  transform: rotate(-5deg);
  display: inline-block;
  transition: background-color 0.3s; /* make transition smooth */
}

.member-title {
  color: #ffffff;
  font-weight: bold;
}

.content p {
  color: #7ec3f2;
  transition: 0.6s;
  font-size: 14px;
  opacity: 0;
  transform: translateY(-20px);
  margin: -10px;
}

.box:hover .content p {
  opacity: 1;
  transform: translateY(10px);
}

/*
-------music page----------
*/

.music-player {
  max-width: 400px;
  width: 100%;
  height: 600px;
  margin: 80px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.album-cover {
  width: 300px;
  height: auto;
  border-radius: 10px;
  box-shadow: 8px 8px #ffffff;    
  margin-bottom: 20px;
  margin-top: 40px;
}

.album-info {
  text-align: center;
  margin-top: 50px;
}

.album-info h2 {
  margin: 0;
  font-size: 1.3em;
  color: #ffffff;
}

.album-info p {
  margin: 5px 0;
  color: #ffffff;
  font-size: 20px;
  font-family: chinchilla, sans-serif;
}

.album-info p span {
  color: #f4b2d7; /* set <span> text color individually */
  font-family: "ivysoft-variable", sans-serif;
}

#titleSong {
  font-size: 25px;
}

/* control button */
.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.control-button {
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  margin: 0 20px;
  transition: transform 0.2s;
  color: #f4b2d7;
}

.control-button:hover {
  color: #ffffff;
}


/*
----------imprints page-------
*/

.imprints-content {
  display: grid;
  grid-template-columns: repeat(
    auto-fill, /* automatically fill the row with as many columns as will fit */
    minmax(300px, 1fr)
  );
  gap: 20px;
  margin: 20px auto;
  padding: 0 20px;
  max-width: 1200px;
}

.sub-section {
  flex: 1;
  text-align: center;
  margin-top: 50px;
  position: relative;
}

.folder {
  width: 200px;
  height: 160px;
  background-color: #f4b2d7;
  border-radius: 10px;
  position: relative; /* makes child element absolutely positioned relative to the parent element */
  margin: 0 auto;
  overflow: hidden;
}

.folder-tab {
  width: 210px;
  height: 150px;
  background-color: #ffffff;
  border-top-left-radius: 20px;
  border-top-right-radius: 50px;
  position: absolute;
  bottom: -20px;
  left: -10px;
}

.folder::before {
  content: "";
  position: absolute;
  width: 110px;
  height: 30px;
  background-color: #ffffff;
  top: -15px;
  right: 0;
  border-bottom-left-radius: 10px;
}

.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.icon-container h2 {
  margin-top: 40px;
  color: #f4b2d7;
  position: absolute;
  top: 70px;
  font-size: 1.8em;
  line-height: 20px;
}

.icon-container svg {
  position: relative;
  z-index: 1; /* make sure the svg is on top of the folder */
  margin-top: 30px;
}

/*
---------location section---------
*/

.locations-item {
  border-top: 1px solid #7ec3f2; /* each item has a line at the top */
  margin-bottom: 40px;
}

.locations-item:first-child {
  border-top: none; /* remove the top line of the first event item */
}

/* shooting content */
.locations-item h2 {
  color: #ffffff;
  margin-top: 50px;
  font-size: 2em;
  letter-spacing: -1px;
}

/* shooting type */
.locations-item h3 {
  color: #7ec3f2;
  margin-top: -20px;
  margin-bottom: 30px;
}

/* shooting year */
.locations-item h4 {
  color: #ffffff;
  margin-top: -10px;
  margin-bottom: 30px;
  font-size: 1.7em;
}

/* country and address */
.locations-item p {
  color: #626262;
  margin-top: -10px;
  font-size: 0.9em;
}

.locations-item a {
  margin-bottom: -10px;
  display: inline-block;
  color: #f4b2d7;
  text-decoration: none;
  font-size: 1.1em;
}

.locations-item a:hover {
  color: #ffffff; /* change color on hover */
}

/*
---------outfits section---------
*/

.outfits-item {
  margin-top: 60px;
  text-align: center;
}

/* type */
.outfits-item h2 {
  color: #f4b2d7;
  margin-bottom: -10px;
  position: relative;
  z-index: 2;
  font-size: 2em;
  letter-spacing: 0px;
}

/* brand */
.outfits-item p {
  color: #ffffff;
  margin-top: -10px;
  position: relative;
  z-index: 1;
  font-size: 0.9em;
  letter-spacing: 0px;
}

.outfits-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.outfits-item img {
  width: 220px;
  height: auto;
  margin-bottom: -20px;
}

/*
---------food section---------
*/

.foods-list {
  margin-bottom: 30px;
}

.foods-item {
  border-top: 1px solid #7ec3f2;
  margin-bottom: 40px;
}

.foods-item:first-child {
  border-top: none;
}

/* foods name */
.foods-item h2 {
  margin-top: 50px;
  font-size: 2em;
  letter-spacing: -1px;
}

/* brand and price */
.foods-item p {
  color: #626262;
  margin-top: -10px;
  font-size: 0.9em;
  letter-spacing: 0px;
}

/* recommended by */
.foods-item h4 {
  color: #f4b2d7;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 1.1em;
}


/*
---------event page---------
*/

/* pagination style!!!! also for imprint page */
.pagination {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 30px auto;
  justify-content: center;
}

.pagination li {
  margin: 0 5px;
}

.pagination a {
  text-decoration: none;
  color: #f4b2d7;
  padding: 10px 15px;
  font-size: 1em;
  font-family: "ivysoft-variable", sans-serif;
  font-variation-settings: "slnt" -6, "wght" 700;
}

.pagination a:hover {
  color: white;
}

.events-list {
  margin-top: 80px;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.events-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 600px;
  padding: 40px;
  border-top: 1px solid #7ec3f2;
}

.events-item:first-child {
  border-top: none;
}

.events-date {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 18px;
  font-weight: bold;
  margin-right: 20px;
  color: #f4b2d7;
}

.events-month-day {
  font-size: 18px;
}

.events-location {
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* right align */
  text-align: right;
  margin-left: auto;
}

.events-city {
  font-size: 35px;
  color: #ffffff;
}

.events-venue {
  font-size: 1.1em;
  color: #626262;
  font-family: "ivysoft-variable", sans-serif;
  font-variation-settings: "slnt" -6, "wght" 700;
  margin-top: 10px;
  cursor: pointer;
}

.events-venue:hover {
  color: #7ec3f2;
}

.events-venue a{
  text-decoration: none;
  color: inherit;
}

/* more tbc text */
.events-p {
  color: #626262;
}



/*
-------venue page---------
*/

.venue-address-title,
.venue-capacity-title,
.venue-open-hours-title {
  color: #626262;
}

/* back button */
.venue-back {
  color: #f4b2d7;
  text-decoration: none;
  font-size: 1em;
  font-family: "ivysoft-variable", sans-serif;
  font-variation-settings: "slnt" -6, "wght" 700;
}

.venue-back:hover {
  color: #ffffff;
}



/*
---------contact page---------
*/

.contact-container a,
.contact-container p {
  text-decoration: none;
  font-family: "ivysoft-variable", sans-serif;
  font-variation-settings: "slnt" -6, "wght" 700;
  color: #626262;
  font-size: 1.1em;
}

.contact-container a:hover,
.contact-container p:hover {
  color: #ffffff;
}

/* email, social network and address title*/
.contact-container h2 {
  color: #f4b2d7;
}

.contact-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
}

.contact-info {
  flex: 1; /* take half of the container */
  padding: 20px;
  margin-right: 20px;
  margin-left: 20px;
}

/* get in touch form */
.contact-form {
  max-width: 400px;
  flex: 1; /* take half of the container */
  padding: 20px;
  margin: 0 auto;
}


.contact-form button {
  font-family: "ivysoft-variable", sans-serif;
  font-variation-settings: "slnt" -6, "wght" 700;
  font-size: 1em;
  background-color: transparent;
  color: #f4b2d7;
  border: none;
  padding: 10px 30px;
  border-radius: 4px;
  cursor: pointer;
}

.contact-form button:hover {
  color: #ffffff;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  outline: none;
  border-bottom: 1px solid #ffffff;
  background-color: transparent;
  font-size: 1em;
}

.contact-form input:focus {
  outline: none;
  border-color: #f4b2d7;
}

.contact-form textarea {
  width: 100%;
  height: 100px;
  resize: none; /* cannot be resized */
  padding: 10px;
}

.contact-form textarea:focus {
  outline: none;
  border-color: #f4b2d7;
}

.name,
.email,
.message {
  font-family: "ivysoft-variable", sans-serif;
  font-variation-settings: "slnt" -6, "wght" 700;
  color: #ffffff;
}

#name,
#email,
#message {
  font-family: "ivysoft-variable", sans-serif;
  font-variation-settings: "slnt" -6, "wght" 700;
  color: #626262;
}

/*
------login page------
*/

/* the error/success message style */
.error,
.success {
  color: #626262;
  font-size: 1.6em;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}

#loginForm {
  font-family: "ivysoft-variable", sans-serif;
  font-variation-settings: "slnt" -6, "wght" 700;
  padding: 20px;
  margin: 0 auto;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  align-items: center;
  text-align: center;
  width: 100%;
}

#loginForm label {
  display: inline-block;
  width: 120px;
  margin-bottom: 5px;
  color: #ffffff;
}

#loginForm input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-bottom: 1px solid #ffffff;
  outline: none;
  background-color: transparent;
  font-size: 1em;
}

#loginForm input:focus {
  border-color: #f4b2d7;
}

#loginForm button {
  font-size: 1em;
  font-family: "ivysoft-variable", sans-serif;
  font-variation-settings: "slnt" -6, "wght" 700;
  background-color: transparent;
  color: #f4b2d7;
  border: none;
  padding: 10px;
  cursor: pointer;
}

#loginForm button:hover {
  color: #ffffff;
}

#username,
#password {
  font-family: "ivysoft-variable", sans-serif;
  font-variation-settings: "slnt" -6, "wght" 700;
  color: #626262;
}

/*
-----------register page------------
*/

.register-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}

#registerForm {
  font-family: "ivysoft-variable", sans-serif;
  font-variation-settings: "slnt" -6, "wght" 700;
  padding: 20px;
  margin: 0 auto;
}

#registerForm label {
  display: inline-block;
  width: 120px;
  margin-bottom: 5px;
  color: #ffffff;
}

#registerForm input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-bottom: 1px solid #ffffff;
  outline: none;
  background-color: transparent;
  font-size: 1em;
}

#registerForm input:focus {
  border-color: #f4b2d7;
}

#registerForm button {
  font-size: 1em;
  font-family: "ivysoft-variable", sans-serif;
  font-variation-settings: "slnt" -6, "wght" 700;
  background-color: transparent;
  color: #f4b2d7;
  border: none;
  padding: 10px;
  cursor: pointer;
}

#registerForm button:hover {
  color: #ffffff;
}

/*
---------profile page---------
*/

#profileForm {
  font-family: "ivysoft-variable", sans-serif;
  font-variation-settings: "slnt" -6, "wght" 700;
  padding: 20px;
  margin-left: 10px;
  margin-right: 100px;
}

#profileForm label {
  display: inline-block;
  width: 120px;
  margin-bottom: 5px;
  color: #ffffff;
}

#profileForm input {
  width: calc(100% - 400px); /* calculate the width */
  max-width: 350px;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-bottom: 1px solid #ffffff;
  outline: none;
  background-color: transparent;
  font-family: "ivysoft-variable", sans-serif;
  font-variation-settings: "slnt" -6, "wght" 700;
  font-size: 1em;
}

#profileForm input:focus {
  border-color: #f4b2d7;
}

#currentUsername {
  color: #626262;
}

#newUsername {
  color: #626262;
}

input::placeholder {
  color: #adadad;
}

#profileForm button {
  font-size: 1em;
  font-family: "ivysoft-variable", sans-serif;
  font-variation-settings: "slnt" -6, "wght" 700;
  background-color: transparent;
  color: #f4b2d7;
  border: none;
  padding: 10px;
  cursor: pointer;
  margin-left: 100px;
}

#profileForm button:hover {
  color: #ffffff;
}

#deleteButton:hover {
  color: #626262 !important; /* !important to increase priority */
}

/*
--------footer----------
*/

footer {
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #bee5ffa5;
}

/* all rights reserved */
.footer-container p {
  color: #ffffff;
  font-size: 0.6em;
}

.social-links {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.social-links a {
  text-decoration: none;
  transition: transform 0.3s;
}

.social-links a:hover {
  transform: scale(1.1);
}



/*
----------responsive-----------
*/

@media (max-width: 768px) {
  .banner h1 {
    font-size: 5em;
    margin-top: 100px;
    margin-bottom: -5px;
    letter-spacing: -4px;
  }

  .music-player {
    padding: 15px;
    max-width: 450px;
    max-height: 550px;
  }

  .album-cover {
    max-width: 250px;
  }

  .control-button {
    padding: 8px 10px;
  }

  .imprints-content {
    grid-template-columns: 1fr; /* single column layout on smaller screen */
  }

  .events-list {
    margin: 80px;
  }

  .contact-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .contact-info {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .contact-form {
    width: 100%;
    max-width: 200px;
  }

  #loginForm button,
  #registerForm button,
  #profileForm button {
    margin-left: 0;
  }
}

@media (max-width: 490px) {
  h1 {
    font-size: 2.4em;
  }

  h2 {
    font-size: 1em;
    text-align: center;
    margin: 20px 0;
    color: white;
    letter-spacing: 1px;
  }

  p {
    font-size: 0.9em;
    font-family: "ivysoft-variable", sans-serif;
    font-variation-settings: "slnt" -6, "wght" 700;
    letter-spacing: 1.3px;
    margin: 20px;
  }

  .banner h1 {
    font-size: 3em;
    margin-top: 50px;
    margin-bottom: 0;
  }

  .music-player {
    padding: 10px;
    max-width: 350px;
    max-height: 500px;
  }

  .album-cover {
    max-width: 150px;
  }

  .control-button {
    padding: 5px 8px;
  }

  .events-venue {
    font-size: 0.8em;
  }

  .events-city {
    font-size: 1.7em;
  }

  .events-month-day {
    font-size: 0.8em;
  }

  .social-links {
    display: none;
  }
}

@media (max-width: 300px) {
}
